<h1>ToDo List</h1>

<% if @todos.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Todo</th>
        <th>Name</th>
        <th>Duedate</th>
        <th>Status(%)</th>
        <th>Remarks</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @todos.each do |todo| %>
        <tr id="likes_<%= todo.id %>">
          <%= render partial: 'todos/like', locals: { todo: todo} %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @todos %>
  </div>
<% end %>


<%= link_to 'Add new ToDo', new_todo_path, class: "btn btn-primary" %>